@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.nav-shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  top:0px;
  background-color: rgba(187, 235, 255, 0.5);
}
.product-container{
  margin-top: 8%;
}


